.header {
  background-color: $color-footer;
  // height: 9rem;
  height: 90px;
  border-bottom: 5px solid $color-border-orange-darker;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
  }
}

.logo__container {
  display: flex;
  align-items: center;
}
.header__logo {
  cursor: pointer;
  height: 100%;
  width: 100%;
  @include respond(phone) {
    height: 80%;
    width: 80%;
  }
}
.header__button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}
