.dialog {
  &__paragraph {
    font-size: 13px;
    text-align: center;
    margin-bottom: 12px;
  }
  &__question {
    font-size: small;
    font-weight: 500;
  }
  &__actions {
    padding-right: 20px !important;
    padding-bottom: 20px !important;

    &.direction__left {
      display: flex;
      justify-content: space-between;
      direction: rtl;
    }
  }
  &__button {
    width: 100px;
    font-size: 12px !important;

    &--no {
      border: 1px solid #333 !important;
      color: black !important;
      background-color: white !important;
    }
    &--yes {
      background-color: #f1914f !important;

      &.margin__right {
        margin-right: 20px;
      }
    }
  }
}

.fullDialog {
  margin: 24px;
  &__header {
    padding: 15px 30px;
    border-bottom: 2px solid #cecece;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--text {
      padding-left: 24px;
      font-size: 22px;
      font-weight: 700;
      @include respond(phone) {
        font-size: 18px;
      }
    }

    &--close {
      font-size: 20px;
      color: #828282;
      cursor: pointer;
    }

    &--form {
      padding: 24px;
    }

    &--table {
      padding: 0 24px 24px 24px;
    }
  }
  .MuiButton-sizeMedium {
    margin-left: 0 !important;
  }
}

.MuiDialog-paper {
  z-index: 300 ;
  width: 400px;
}
