.footer
{
    width: 100%;
    background-color: $color-footer;
    border-top: 5px solid $color-border-orange-darker;
    font-size: 14px;
    line-height: 24;
    font-weight: 400;
    color: white;
    // padding: 20px 0;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone)
    {
        z-index: 1;
        position: fixed;
        bottom: 0;
        font-size: 11px;
    }
}
.footer-text{
    text-align: center !important;
    font-size: 11px ;

}