.footer
{
    width: 100%;
    background-color: $color-footer;
    border-top: 5px solid $color-border-orange-darker;
    font-size: 14px;
    line-height: 24;
    font-weight: 400;
    color: white;
    // padding: 20px 0;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone)
    {
        font-size: 11px;
    }
}