.header__primary
{
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 2.7rem;
    margin-top: 0;
    color: white;

    @include respond(tab-port)
    {
        text-align: center;
        font-size: 5rem;
    }
    @include respond(phone)
    {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
}
.header__secondary
{
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: black;

    @include respond(phone)
    {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
.paragraph
{
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    // width: 70%;

    @include respond(tab-port)
    {
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    @include respond(phone){font-size: 2.2rem;}
}