.wizard
{
    // height: 81vh;
    width: 70%;
    margin: 0 auto;
    // padding: 9rem 0;
}
// // .wizard input
// // {
// //     font-size: 1.5rem;
// // }
// // .wizard input::placeholder
// // {
// //     font-size: 1.5rem;
// // }
// // .wizard label
// // {
// //     font-size: 1.5rem;
// // }
.wizard__error
{
    color: red;
    // margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 13px;
}
// .MuiStepLabel-label
// {
//     font-size: 1.5rem !important;
// }
// .MuiBox-root{margin-bottom: 6rem !important;}
// .MuiGrid-root {padding-top: 0 !important;}
// .MuiStepIcon-text{font-size: 1.4rem !important;}
// .MuiStepLabel-iconContainer{transform: scale(1.5)}








// .custom-field label {
//     transform-origin: top right;
//     right: 30px;
//     left: unset
//   }
//   .custom-label-field label {
//     transform-origin: top right;
//     right: 15px;
//     left: unset;
//     background-color: #fff;
//     padding: 0 8px;
//     z-index: 4
//   }
//   .custom-label-field .MuiInputLabel-shrink {
//     top: -9px
//   }
//   .custom-field fieldset {
//     text-align: right
//   }
//   span.css-htszrh-MuiButton-startIcon {
//     margin-left: 8px;
//     margin-right: -4px
//   }
//   .customGrid .MuiGrid-item {
//     padding-left: 0px !important
//   }
//   .custom-field .MuiSelect-icon {
//     right: unset;
//     left: 0
//   }
//   .Mui-checked {
//     color: #fcb712 !important
//   }
//   .google-map {
//     position: relative !important
//   }
//   .custom-wizard .MuiStepConnector-horizontal {
//     left: calc(50% + 20px);
//     right: calc(-50% + 20px)
//   }