.wizard {
  // height: 81vh;
  position: relative;
  width: 70%;
  margin: 0 auto;
  flex: 1;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    width: 80%;
  }
  @include respond(phone) {
    width: 90%;
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .Mui-active {
    color: #f58232 !important;
  }
  .bigTextField .MuiInput-input {
    color: #c4c4c4;
    font-size: 40px;
  }
  .bigTextField .MuiInput-root::before {
    border: none !important;
  }
  .bigTextField .MuiInput-root::after {
    border: none !important;
  }
  .bigTextField input::-webkit-outer-spin-button,
  .bigTextField input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.wizard__error {
  color: red;
  // margin-left: 2rem;
  // margin-right: 2rem;
  // margin-top: 1.5rem;
  font-size: 14px;
}
.wizard__main--header {
  height: 90px;
  color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  & > * {
    font-size: 22px;
    font-weight: 600;
    @include respond(tab-land) {
      font-size: 16px;
    }
    @include respond(phone) {
      font-size: 16px;
    }
  }
}
.wizard__content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond(phone) {
    z-index: 1;
    margin-bottom: 90px;
  }
}
.wizard__content--inputs {
  flex: 1;
  margin-top: 0 !important;
  margin-bottom: 24px !important;
}
.wizard__content--inputs .MuiGrid-container {
  margin: 0 !important;
  width: 100% !important;
  @include respond(phone) {
    margin-bottom: 24px !important;
  }
}
.wizard__custom-stepper .MuiStepLabel-iconContainer {
  padding-right: 0;
  padding-left: 8px;
}
.MuiOutlinedInput-input {
  font-size: 14px !important;
}
.MuiInputLabel-outlined {
  font-size: 10px !important;
}
.MuiInputLabel-outlined {
  font-size: 14px !important;
}
.wizard__stepper--mobile {
  background: white;
  top: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #424242;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  &-close-draft {
    :hover{
      color: #f58232;
    }
    display: flex;
    align-items: center;
    & > * {
      font-size: 22px;
    }
  }
}

.wizard__buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 22;
}
.btn {
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  &__draft {
    padding: 0.5rem 1.4rem;
  }
  @include respond(phone) {
    width: 140px !important;
  }
}
.wizard__buttons--autoLeft {
  margin-left: auto;
}
.wizard__text--box {
  box-shadow: 0 0.4rem 1rem rgba(black, 0.3);
  margin: 0 auto;
  margin-top: 2.3rem;
  width: 100%;
  padding: 4rem;
  text-align: center;
  margin-bottom: 2.2rem;
}
.wizard__small--header {
  margin: 2rem 0;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #cecece;
  padding-bottom: 1rem;
  width: 100%;
}

.css-480o17-MuiGrid-root {
  width: 100% !important;
  // margin-left: 0 !important;
}
.css-zow5z4-MuiGrid-root {
  width: 100% !important;
  margin-left: 0 !important;
}
.css-10hbjx7-MuiFormGroup-root label {
  margin-right: 0 !important;
}
.css-ahj2mt-MuiTypography-root {
  font-size: 1.4rem ;
} // checkbox font size, the last page
.MuiStep-alternativeLabel svg // stepper
{
  font-size: 28px;
  width: 2.3rem;
  height: 2.3rem;
}
.MuiStepLabel-alternativeLabel // stepper
{
  font-size: 14px !important ;
  font-weight: 600;
  @include respond(tab-port) {
    font-size: 14px;
  }
}
.MuiStepLabel-label {
  font-size: 14px;
}
.MuiStep-alternativeLabel svg text {
  font-size: 14px;
}
.css-vnkopk-MuiStepLabel-iconContainer {
  padding-left: 0 !important;
}
.wizard__input--file {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.remove__left--padding // from even text fields and dropdown menus
{
  & > *:nth-child(even) {
    padding-left: 0 !important;
  }

  @include respond(tab-land) {
    & > * {
      padding-left: 0 !important;
    }
  }
}
.remove__right--padding // from odd text fields and dropdown menus
{
  & > *:nth-child(odd) {
    padding-left: 0 !important;
  }

  @include respond(tab-land) {
    & > * {
      padding-left: 0 !important;
    }
  }
}
.wizard__fieldArray--add-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  & > svg {
    // height: 1.5rem !important;
    // width: 1.5rem !important;
    transform: scale(1.2);
    color: white;
    background-color: $color-orange-main;
    border-radius: 50%;
  }
  & > span {
    font-size: 14px;
  }
}
.MuiOutlinedInput-notchedOutline {
  height: 100%;
}

.wizard input,
.wizard label,
.MuiFormLabel-root {
  font-size: 14px;
}
.wizard label,
.MuiFormLabel-root {
  padding: 0 4px;
  background: white;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input // the value when you select an item from drop down menu
{
  font-size: 14px !important;
  height: 20px;
  padding-right: 4px;
  @include respond(tab-land) {
    padding-right: 14px;
  }
}
legend // label space when you focus on an input
{
  font-size: 14px;

  @include respond(tab-port) {
    font-size: 14px;
  }
}

.custom-field label // text field
{
  padding: 0 4px;
  background: white;
  transform-origin: top right;
  right: 16px;
  left: unset;
  font-size: 14px;
  @include respond(tab-port) {
    font-size: 14px;
  }
}
.custom-field input {
  direction: rtl;
  font-size: 14px;
  padding-right: auto;
  @include respond(tab-port) {
    font-size: 14px;
  }
}
.custom-field .MuiSelect-select {
  direction: rtl;
  font-size: 14px;
  padding-right: 14px !important;
  @include respond(tab-port) {
    font-size: 14px;
  }
}
.custom-label-field label {
  // drop down menu
  transform-origin: top right;
  left: unset;
  background-color: #fff;
  right: 16px !important;
}
.custom-label-field input {
  // drop down menu
  direction: rtl;
  font-size: 14px;
  @include respond(tab-port) {
    font-size: 14px;
  }
}
.custom-label-field .MuiInputLabel-shrink {
  top: 0px;

  @include respond(tab-port) {
    right: 2.7rem;
  }
  @include respond(phone) {
    right: 3rem;
  }
  // right: 20px
}
.custom-field fieldset {
  text-align: right;
}
span.css-htszrh-MuiButton-startIcon {
  margin-left: 0.8rem;
  margin-right: -0.4rem;
}
.custom-field .MuiSelect-icon {
  // drop down icon position
  width: 18px;
  height: 18px;
  right: unset;
  left: 2px;
  color: #f58232;
}
.Mui-error {
  font-size: 12px !important;
}
.MuiSelect-iconOutlined {
  color: #f58232;
  width: 18px;
  height: 18px;
}
.Mui-checked {
  color: #f58232 !important;
}
.google-map {
  position: relative !important;
}
.custom-wizard {
  // font-size: 20px !important;
  margin-bottom: 1.5rem;
}
.custom-wizard .MuiStepConnector-horizontal {
  left: calc(50% + 2rem);
  right: calc(-50% + 2rem);
}
.custom-wizard .MuiStepIcon-completed {
  color: #34ae73 !important;
}
.custom-wizard .MuiStepLabel-completed {
  color: #34ae73 !important;
}

.css-1a49mms-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: rgb(250, 180, 20);
}
.service-not-active .service-content {
  filter: blur(7px);
}
.MuiCardHeader-title {
  font-size: 24px;
}
.MuiChip-icon {
  margin-right: 0.4rem;
  margin-left: 0;
}
.MuiTableCell-root {
  text-align: right;
}
.MuiButton-startIcon {
  margin-left: 0.8rem;
  margin-right: -0.4rem;
}
.unordered-list {
  padding-right: 2.4rem;
  line-height: 2;
}
.ordered-list {
  padding-right: 2.4rem;
  line-height: 2;
}
.appendix {
  margin-right: 3rem;
  line-height: 2;
}
.section-headline {
  margin-bottom: 1.6rem;
  line-height: 2;
  font-weight: 700;
}
#terms-dialog-title .MuiTypography-root {
  font-size: 22px;
}
.MuiFormControlLabel-root {
  margin-left: 1.6rem !important;
  margin-right: -1.1rem !important;
}
.MuiFormGroup-row {
  justify-content: space-between !important;
  align-items: center !important;
  height: 100% !important;
}

.owner__list {
  display: flex;
}
.supplier__list {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  & > div {
    height: 77px;
    flex: 20%;
    &:last-of-type {
      flex: 30%;
    }
  }
  & > svg {
    // height: 77px;
    margin-top: -30px;
  }

  &.ml {
    & > *:not(:last-child) {
      margin-left: 1rem;
    }
  }
  &.mr {
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}